@import "../../../Assets/Css/Variables.css";

.wrapper {
  width: 100%;
  height: 115px;
  position: absolute;
  bottom: 0;
  left: 300px;
  width: calc(100vw - 500px);
  background-color: var(--black-trans40);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}

.wrapper_open {
  height: calc(100vh - 70px);
}

.array {
  transition: all ease-in-out 0.5s;
}

.array_open {
  transform: rotateZ(180deg);
}

.song_wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.song_info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.song_info_img {
  width: 88px;
  height: 76px;
  border-radius: 18px;
  overflow: hidden;

}

.song_info_img img {
  width: 88px;
  background-size: contain;
}


.song_info_text {
  color: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  text-transform: uppercase;
}

.song_info_text h3,
.song_info_text p {
  margin: 0;
  padding: 3px;
}

.control_wrapper {
  width: calc(100% - 400px);
}

.lyrics {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 10px;
  align-items: center;
  text-transform: uppercase;
  font-family: "Kodchasan";
  color: var(--white);
  font-size: 0.7rem;
}

.main_lyrics {
  background-color: var(--neon-pink60);
  height: 100%;
}

.lyrics_wrapper {
  background-color: var(--neon-pink60);
  margin-top: 20px;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  overflow: auto;
}

.controllers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.time {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Kodchasan";
  color: var(--white-font);
  justify-content: space-between;
  align-items: center;
}

.time_item {
  width: 5%;
}

.time_bar {
  accent-color: var(--neon-pink60);
  width: 80%;
  height: 6px;
}


/* volume */
.audio_wrapper {
  width: auto;
  display: flex;
  flex-direction: row;
}

.volume {
  display: flex;
  flex-direction: row;
  width: 100%;
  accent-color: var(--neon-pink60);
  justify-content: center;
  align-items: center;
}

.audio_icon {
  cursor: pointer;
}

/**/
.volume_slider {
  -webkit-appearance: none;
  outline: none;
  background-color: var(--gray-font);
  height: 3px;
}

.volume_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: var(--gray-font);
  border-radius: 50px;
}

.volume_slider::-webkit-slider-thumb {
  border: 3px solid var(--white-font);
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background: var(--background);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}


.arrayT {
  transition: all ease-in-out 0.5s;
}

.array_openT {
  transform: rotateZ(180deg);
}

.song_wrapperT {
  border-radius: 10px;
  top: 320px;
  right: 250px;
  position: absolute;
}

.inner_songW {
  height: 400px;
  width: 350px;
}

.player {
  color: var(--gray-font);
  font-family: 'Kodchasan';
  margin-bottom: 20px;
}

.song_infoT {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  gap: 10px;
}

.song_info_imgT {
  width: 100%;
  aspect-ratio: 1/0.7;
  background-color: var(--black-trans40);
  border-radius: 18px;
}

.song_info_textT {
  color: var(--white-font);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  text-transform: uppercase;
  width: 100%;
  align-items: center;
}

.song_info_textT h3,
.song_info_textT p {
  margin: 0;
  padding: 3px;
}

.bottom_part {
  background-color: var(--neon-pink60);
  height: 100px;
  width: calc(100% - 10px);
  position: absolute;
  margin-left: -20px;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  bottom: 0px;
}

.control_wrapperT {
  /* width: 360px; */
}

.lyricsT {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 10px;
  align-items: center;
  text-transform: uppercase;
  font-family: "Kodchasan";
  color: var(--white);
  font-size: 0.7rem;
}

.main_lyricsT {
  background-color: var(--neon-pink60);
  height: 100%;
}

.lyrics_wrapperT {
  background-color: var(--neon-pink60);
  margin-top: 20px;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  overflow: auto;
}

.controllersT {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.timeT {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Kodchasan";
  color: var(--white-font);
  justify-content: space-between;
  align-items: center;
}

.time_itemT {
  width: 5%;
}

.time_barT {
  accent-color: var(--neon-pink60);
  width: 80%;
  height: 6px;
}