@import "../../../Assets/Css/Variables.css";

.header {
  position: absolute;
  margin: 0 auto;
  width: 65%;
  top: 8px;
  align-items: center;
  left: 300px;
  /* transform: translateX(-50%); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;
}

.header_item {
  width: 350px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.premium {
  border: 2px solid var(--neon-pink);
  border-radius: 50px;
  width: 100px;
  height: 20px;
  color: var(--neon-pink);
  background-color: var(--white);
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0 0 10px var(--neon-pink);
}

.link {
  text-decoration: none;
  color: var(--white);
}

.active {
  height: 3px;
  width: 100%;
  background-color: var(--neon-pink);
  border-radius: 50px;
  box-shadow: 0 0 15px var(--neon-pink);
}

.search_wrapper {
  overflow: hidden;
  width: 245px;
  height: 32px;
  background-color: var(--black-trans40);
  left: 15px;
  border-radius: 50px;
  transition: all 1s ease-in-out;
}

.search_bar {
  display: flex;
  flex-direction: row;
  transition: all ease-in-out 1s;
  text-decoration: none !important;
}

.input {
  outline: none;
  border: 1px solid var(--white-trans60);
  background-color: var(--white-trans40);
  border-radius: 50px;
  padding: 5px;
  color: var(--white-font);
  width: 231px;
  height: 20px;
  text-decoration: none !important;
}

.search_bar input::placeholder {
  color: var(--grey-font);
  text-decoration: none !important;
}

.icon {
  position: absolute;
  top: 6px;
  left: 215px;
}