:root {
  --background: #2f2945;
  --backgrount-trans: #1d152fb8;
  --backdrop: #d9d9d929;
  --neon-pink: #fa2870;
  --neon-pink90: #fa2871e6;
  --neon-pink60: #fa2870ad;
  --neon-pink-light: #fa28714d;
  --neon-blue: #00b2ff;
  --logo: #d9d9d9;
  --finder: #6483f3ec;
  --white: #ffffff;
  --white-trans40: #ffffff66;
  --white-trans50: #ffffff80;
  --white-trans60: #ffffff9c;
  --white-font: #fffdfd;
  --black: #0f0f0f;
  --black-trans30: #0000004d;
  --black-trans40: #0000006e;
  --gray-trans58: #1d152f94;
  --gray-font: #BDB5C5;
  --card: #18152f94;
}