:root {
  --background: #2f2945;
  --neon-pink: #fa2870;
  --neon-blue: #00b2ff;
  --logo: #d9d9d9;
  --finder: #6483f3ec;
  --white: #ffffff;
  --white-trans50: #ffffff80;
  --white-trans60: #ffffff9c;
  --black: #000000;
  --black-trans30: #0000004d;
  --black-trans40: #0000006e;
  --gray-trans58: #1d152f94;
}
