.main {
 display: flex;
 flex-direction: column;
 color: var(--gray-font);
 padding: 20px 30px;
 gap: 5px;
}

.title {
 font-family: 'Kodchasan';
 font-size: 1.4rem;
 margin: 0 auto;
 margin-bottom: 30px;
}

.field {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 15px;
 min-width: 250px;
 margin-bottom: 20px;
}

.field input {
 outline: none;
 border: none;
 border-bottom: 1px solid var(--gray-font);
 width: 98%;
 background-color: transparent;
 padding: 5px 0;
 color: var(--gray-font);
}

.buttons {
 min-width: 250px;
 display: flex;
 flex-direction: column;
 width: 100%;
 gap: 10px;
}

.buttons button {
 margin: 0;
 padding: 0;
 outline: none;
 border: 1px solid var(--white-font);
 color: var(--white-font);
 font-size: 1rem;
 padding: 5px;
 border-radius: 5px;
 cursor: pointer;
}

.login {
 background-color: var(--neon-pink);
}