.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-areas: "content section";
  grid-template-columns: calc(100vw - 200px) 200px;
}
.content {
  grid-area: content;
}
.section {
  grid-area: section;
}
